/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f6f6f6;
}

header {
  text-align: center;
  background-color: rgb(21, 21, 124);
  height: 50px;
  margin-bottom: 24px;
}

header h1 {
  color: white;
  line-height: 50px;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.table {
  background-color: white;
  width: 100%;
  font-size: 14px;
  word-break: keep-all;
}

.table th {
  padding: 10px 15px;
}

.table td {
  padding: 20px 15px;
}

footer {
  background-color: white;
  margin-top: 40px;
}

.footer-content {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
}